body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1ccbf7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .weather-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
  
  input {
    width: 200px;
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  #city-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  #temperature, #condition {
    font-size: 18px;
  }
  
  #current-time {
    font-size: 14px;
    color: #777;
  }
  